<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <a href="/login">Iniciar sesión</a>
    <br>
    <a href="/registro">Registrarse</a>
</body>
</html>
